body {
    font-family: sans-serif;
    color: beige;
    background-color: mediumpurple;
}
ol{
    background-color: aquamarine;
    color: black;
    margin-right: 500px;
}
a{
    text-decoration-line: none;
    color: black;
}
.r{
    text-decoration: underline violet 5px;
    border-radius: 40px;
}
footer{
    color: black;
    margin-top: 5px;
    border-radius: 20px;
    padding: 10px;
}
.u{
    margin: 0px;
    padding: 3px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-radius: 5px;
    background-image: linear-gradient(to right,violet,mediumpurple,#4D2982);
    box-shadow: 5px 0 25px 10px #4D2982;
}
.i{
    display: flex;
    justify-content: end;
}
img{
    border: 10px solid #4D2982;
    display: flex;
    justify-content: space-between;
    
}
.dq{
    width: 130px;
    display: flex;
}
.tr:visited{
    color: #8F96B6;
}
.tr:hover{
    color: mediumslateblue;
}
nav{
    background-color:#8F96B6; 
    border-top: 3px solid #4E5E81;
    border-bottom:3px solid #4E5E81;
    display: flex;
    justify-content: space-between;
}
nav a:first-child{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 19px;    
}
img body:hover{
    border-radius: 15px;
    border-color:blue;
    transition:all 1s linear;
    transform: translateY(50px) translateX(-200px);
}
footer a{
    font-size:15px;
    font-weight: bold;
    margin-left: 10px;
    color: violet;
}
footer a:hover{
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    transition: all 79ms linear;
}
footer{
    background-image: linear-gradient(black,blueviolet);
}



